<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'CSS/list.css' %}">
</head>
<body>
 <h1 align="center">Movies Information</h1>
<div class="jomb">
  
  
 {% if movies_list %}
 <table>
 <thead>
 <th>Released Date</th>
 <th>Movie Name</th>
 <th>Hero</th>
 <th>Heroine</th>
 <th>Rating</th>
 <th>platform</th>
 </thead> 
{% for movie in movies_list%}
 <tr>
 <td>{{movie.rdate}}</td>
 <td>{{movie.moviename|title}}</td>
<td>{{movie.hero}}</td>
 <td>{{movie.heroine}}</td>
 <td>{{movie.rating}}</td>
 <td>{{movie.platform|upper}}</td>
 </tr>
 {% endfor %}
 </table>
 {% else %}
 <p>No Movies Found</p>
 {%endif%}
 </div>
</body>
</html>